﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/FinalVersion/MyControles/test.ascx.cs" Inherits="Final_Version_test" %>
<style type="text/css">
    .style1
    {
        width: 100%;
        float: right;
    }
 .Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid td {
      padding: 2px;
      border: solid 1px #c1c1c1; }
.Grid th  {
      padding : 4px 2px;
      color: #fff;
      background: #363670 url(Images/grid-header.png) repeat-x top;
      border-left: solid 1px #525252;
      font-size: 0.9em; }
.Grid .alt {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
.Grid .pgr {background: #363670 url(Images/grid-pgr.png) repeat-x top; }
.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }
    * {

    padding: 0; 

    margin: 0; 

}

</style>
<table align="center" class="style1" frame="border" 
    style="border: thin solid #808080; background-color: #CCCCFF;">
    <tr>
        <td align="center" colspan="3" 
            style="background-color: #C0C0C0; border: thin solid #808080">
            <asp:Label ID="lbl_group_name" runat="server" Font-Bold="True" Font-Size="18pt" 
                Text="التفاعل مع الأشخاص / Interacting With People"></asp:Label>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="3">
            <asp:Label ID="lbl_sg1" runat="server" Text="----------------------------"></asp:Label>
            <br />
            <asp:Label ID="lbl_sg2" runat="server" Text="----------------------------"></asp:Label>
            <br />
            <asp:Label ID="lbl_sg3" runat="server" Text="----------------------------"></asp:Label>
        </td>
    </tr>
    <tr>
        <td align="right">
            &nbsp;</td>
        <td align="center">
            &nbsp;</td>
        <td align="right">
            &nbsp;</td>
    </tr>
</table>
<table align="center" class="style1">
    <tr>
        <td align="center">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/line3.png" />
            </td>
    </tr>
</table>

