﻿<%@ Page Language="C#" MasterPageFile="~/Main_Master_Page.master" AutoEventWireup="true" CodeFile="Exception_add.aspx.cs" Inherits="Basic_Data_Exception_add" Title="الإستثناءات" %>

<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <link type="text/css" rel="stylesheet" href="../CSS/select2.min.css" />
    <script src="../JavaScript/jQuery.v1.9.1.min.js" type="text/javascript"></script>

<input type="hidden" runat="server" id="hiddenMailsTo" class="hiddenMailsTo" value=""/>
<input type="hidden" runat="server" id="hiddenMailsCC" class="hiddenMailsCC" value=""/>

<table style="width: 100%;" align="center">
 <tr>
    <td style="background-color:#71625F; height: 2px; width: 70%;" >
    <span  style="font-size:11pt; font-weight:bold; color:#FFFFFF; font-family:Courier New;">
         إدخال الإستثناءات
    </span>
    </td></tr>
 </table><p>
                <asp:ScriptManager ID="ScriptManager1" runat="server">
                </asp:ScriptManager>
    </p>
    <p>
        <table align="center">
            <tr>
                <td align="center" style="text-align: left">
                    &nbsp;</td>
                <td>
            <asp:Label ID="lbl_MSG" runat="server" Font-Bold="True" ForeColor="Red" 
                        Font-Size="12pt" Font-Names="Arial"></asp:Label>
                </td>
                <td rowspan="12">
                    &nbsp;</td>
            </tr>
            
            <tr>
                <td align="left" dir="rtl">
                    <asp:Label ID="Label9" runat="server" Font-Bold="True" Text="الإدارة :" 
                        Width="170px" Font-Size="20pt" Font-Names="Arial" ForeColor="#231F20"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="ddl_departments" runat="server" Font-Bold="True" Font-Size="25pt" Width="500px" AutoPostBack="True" onselectedindexchanged="ddl_departments_SelectedIndexChanged1">
                    </asp:DropDownList>
                </td>
            </tr>
            
            <tr>
                <td>
                    &nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: left">
                    <asp:Label ID="Label8" runat="server" Font-Bold="True" Text="اسم الموظف :" 
                        Width="170px" Font-Size="20pt" Font-Names="Arial" ForeColor="#231F20"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="ddl_emp" runat="server" Font-Bold="True" Font-Size="25pt" Width="500px">
                    </asp:DropDownList>
                </td>
            </tr>
            
            <tr>
                <td>
                    &nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: left">
                    <asp:Label ID="Label1" runat="server" Font-Bold="True" Text="اسم التقييم :" 
                        Width="170px" Font-Size="20pt" Font-Names="Arial" ForeColor="#231F20"></asp:Label>
                </td>
                <td>
                    <asp:DropDownList ID="ddl_perf_grade" runat="server" Font-Bold="True" Font-Size="25pt" Width="500px">
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    &nbsp;</td>
                <td>
                    <telerik:RadNotification ID="RadNotification1" runat="server" Height="150px" 
                        Position="Center" Skin="Web20" Width="250px">
                        <NotificationMenu ID="TitleMenu">
                        </NotificationMenu>
                    </telerik:RadNotification>
                </td></tr>
            <tr>
                <td align="center" style="text-align: left">
                    &nbsp;</td>
                <td>
            <asp:Button ID="btn_save" runat="server" class="btn btn-primary" BackColor="#F79222"  Font-Bold="True" 
                Font-Size="15pt" ForeColor="White" Text="حفــــظ وإرســـال" Width="200px" 
                        onclick="btn_save_Click" />
                </td>
            </tr>
            
            <tr>
                <td style="text-align: left">
                    &nbsp;</td>
                <td></td></tr>
            <tr>
                <td valign="top" align="center" colspan="2">
                    <telerik:RadGrid ID="RadGrid1" runat="server" AllowFilteringByColumn="True" 
                        AllowPaging="True" AllowSorting="True" AutoGenerateColumns="False" 
                        AutoGenerateDeleteColumn="True" CellSpacing="0" GridLines="None" 
                        Skin="Office2007" OnDeleteCommand="RadGrid1_DeleteCommand" 
                        OnNeedDataSource="RadGrid1_NeedDataSource1" 
                        OnItemCreated="RadGrid1_ItemCreated" ShowGroupPanel="True">
                            <HeaderContextMenu CssClass="GridContextMenu GridContextMenu_Default">
                            </HeaderContextMenu>
                            <MasterTableView EditMode="EditForms" GroupLoadMode="Server">
                                <CommandItemSettings ExportToPdfText="Export to PDF" />
                                <RowIndicatorColumn FilterControlAltText="Filter RowIndicator column">
                                    <HeaderStyle Width="20px" />
                                </RowIndicatorColumn>
                                <ExpandCollapseColumn FilterControlAltText="Filter ExpandColumn column">
                                    <HeaderStyle Width="20px" />
                                </ExpandCollapseColumn>
                                <Columns>
                                    <telerik:GridTemplateColumn DataField="EMP_NO" FilterControlAltText="Filter EMP_NO column" GroupByExpression="EMP_NO Group By EMP_NO" HeaderText="كود الموظف" SortExpression="EMP_NO" UniqueName="EMP_NO">
                                        <ItemTemplate>
                                            <asp:Label ID="IDLabel" runat="server" Text='<%# Eval("EMP_NO") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="EMP_NAME" FilterControlAltText="Filter EMP_NAME column" GroupByExpression="EMP_NAME Group By EMP_NAME" HeaderText="اسم الموظف" SortExpression="EMP_NAME" UniqueName="EMP_NAME">
                                        <ItemTemplate>
                                            <asp:Label ID="NAMELabel" runat="server" Text='<%# Eval("EMP_NAME") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="GRADE_NAME" FilterControlAltText="Filter GRADE_NAME column" GroupByExpression="GRADE_NAME Group By GRADE_NAME" HeaderText="التقييم" SortExpression="GRADE_NAME" UniqueName="GRADE_NAME">
                                        <ItemTemplate>
                                            <asp:Label ID="gradLabel" runat="server" Text='<%# Eval("GRADE_NAME") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="APPROVAL" FilterControlAltText="Filter APPROVAL column" GroupByExpression="APPROVAL Group By APPROVAL" HeaderText="الحالة" SortExpression="APPROVAL" UniqueName="APPROVAL">
                                        <ItemTemplate>
                                            <asp:Label ID="approvalLabel" runat="server" Text='<%# Eval("APPROVAL") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="REC_DATE" FilterControlAltText="Filter REC_DATE column" GroupByExpression="REC_DATE Group By REC_DATE" HeaderText="تاريخ التسجيل" SortExpression="REC_DATE" UniqueName="REC_DATE">
                                        <ItemTemplate>
                                            <asp:Label ID="recdateLabel" runat="server" Text='<%# Eval("REC_DATE") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="REC_USER" FilterControlAltText="Filter REC_USER column" GroupByExpression="REC_USER Group By REC_USER" HeaderText=" المستخدم" SortExpression="REC_USER" UniqueName="REC_USER">
                                        <ItemTemplate>
                                            <asp:Label ID="recuserLabel" runat="server" Text='<%# Eval("REC_USER") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="approve_date" FilterControlAltText="Filter approve_date column" GroupByExpression="approve_date Group By approve_date" HeaderText="تاريخ الموافقة" SortExpression="approve_date" UniqueName="approve_date">
                                        <ItemTemplate>
                                            <asp:Label ID="approve_dateLabel" runat="server" Text='<%# Eval("approve_date") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                    <telerik:GridTemplateColumn DataField="approve_user" FilterControlAltText="Filter approve_user column" GroupByExpression="approve_user Group By approve_user" HeaderText=" المستخدم الموافق" SortExpression="approve_user" UniqueName="approve_user">
                                        <ItemTemplate>
                                            <asp:Label ID="approve_userLabel" runat="server" Text='<%# Eval("approve_user") %>'></asp:Label>
                                        </ItemTemplate>
                                    </telerik:GridTemplateColumn>
                                    
                                </Columns>
                                <GroupByExpressions>
                                    <%--                       <telerik:GridGroupByExpression>
   <SelectFields>
     <telerik:GridGroupByField FieldName="ID" />
     <telerik:GridGroupByField FieldName="NAME" />
     <telerik:GridGroupByField
       FieldName="ACTIVE"
       FieldAlias="ACTIVE1"
       Aggregate="Count" />
   </SelectFields>
   <GroupByFields>
      <telerik:GridGroupByField FieldName="ACTIVE" />
     <telerik:GridGroupByField
       FieldName="ID"
       SortOrder="Descending" />
   </GroupByFields>
</telerik:GridGroupByExpression>
--%>
                                </GroupByExpressions>
                                <EditFormSettings>
                                    <EditColumn FilterControlAltText="Filter EditCommandColumn column">
                                    </EditColumn>
                                </EditFormSettings>
                            </MasterTableView>
                            <ValidationSettings EnableModelValidation="false" EnableValidation="false" ValidationGroup="10" />
                            <ClientSettings AllowDragToGroup="True">
                                <Selecting AllowRowSelect="True" />
                                <Scrolling AllowScroll="True" UseStaticHeaders="True" />
                            </ClientSettings>
                            <FilterMenu EnableImageSprites="False">
                            </FilterMenu>
                        </telerik:RadGrid>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
        </table>
        <br />
    </p>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">تنبيهات الموظفين</h4>
        </div>
        <div class="modal-body">
          <asp:Label ID="lblMessage" runat="server" Font-Bold="True" Font-Size="12pt" 
                Font-Names="Arial" ForeColor="Green"></asp:Label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.select2-selection--multiple, .mceEditor').hide();
</script>
    <script src="../JavaScript/select2.min.js" type="text/javascript"></script>
    <script src="../JavaScript/tiny_mce.js" type="text/javascript"></script>
<script type="text/javascript">

    tinyMCE.init({
        // General options
        mode: "textareas",
        theme: "advanced",
        plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups"           
    });
    $(".js-example-placeholder-single").select2({
            placeholder: "اختر",
            allowClear: true
    });
    $(function () {
        $("[id$='ddlMailTo']").on("select2:select select2:unselect", function (e) {
            var items = $(this).val();
            var selectedItemsStr = items.join();
            $('.hiddenMailsTo').val(selectedItemsStr);
        });
        $("[id$='ddlMailCC']").on("select2:select select2:unselect", function (e) {
            var items = $(this).val();
            var selectedItemsStr = items.join();
            $('.hiddenMailsCC').val(selectedItemsStr);
        });
        $('.select2-selection--multiple, .mceEditor').show();
    });
</script>
</asp:Content>

