﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Closed_App.aspx.cs" Inherits="Closed_App" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Closed Appraisal Application</title>
        <link href="css/StyleSheet.css" rel="stylesheet" type="text/css" />
         <link href="css/StyleSheet2.css" rel="stylesheet" type="text/css" />
         <link rel="stylesheet" href="CSS/bootstrap.min.css"/>
        <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
		<meta content="C#" name="CODE_LANGUAGE"/>
		<meta content="JavaScript" name="vs_defaultClientScript"/>
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"/>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
