﻿.Menu
{ 
     background:transparent url(Images/blueslate_background.gif) repeat-x;
    text-align:center;
    font-size:11px;
    border: solid 1px #fff !important;
}


.menuhover
{
     color:#fff;background:transparent url(Images/blueslate_backgroundOVER.gif) no-repeat top center;
 }