﻿
    /*----------------data Table GridView Css----------------------*/

        .EU_TableScroll

        {

            max-height: 275px;

            overflow: auto;

            border:1px solid #ccc;

            

        }
.jqueryslidemenu .sub-menu
   { 
       
       top: 10px !important;
       
  }
        .EU_DataTable

        {

            border-collapse: collapse;

            width:100%;

        }

            .EU_DataTable tr th

            {

                background-color: #3c454f;

                color: #ffffff;

                padding: 10px 5px 10px 5px;

                border: 1px solid #cccccc;

                font-family: Arial, Helvetica, sans-serif;

                font-size: 12px;

                font-weight: normal;

                text-transform:capitalize;

            }

            .EU_DataTable tr:nth-child(2n+2)

            {

                background-color: #f3f4f5;

            }




            .EU_DataTable tr:nth-child(2n+1) td

            {

                background-color: #d6dadf;

                color: #454545;

            }

            .EU_DataTable tr td

            {

                padding: 5px 10px 5px 10px;

                color: #454545;

                font-family: Arial, Helvetica, sans-serif;

                font-size: 11px;

                border: 1px solid #cccccc;

                vertical-align: middle;

            }

                .EU_DataTable tr td:first-child

                {

                    text-align: center;

                }

        /*-----------------------------------------------------------------*/

